---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Sophie Chew</title>
    </head>
    <body>
        <Navigation />
        <main>
            <section class="about">
                <div class="container">
                    <h1>About Me</h1>
                    <p>
                        Hi, I'm Sophie Chew, a freshman at MIT with a passion
                        for the intersection of hardware and software. I am
                        currently exploring full-stack development, iOS
                        development, AI/ML, cybersecurity, and data science
                        while building a foundation in electrical engineering
                        and computer science.
                    </p>

                    <p>
                        more coming soon...
                    </p>
                </div>
            </section>
        </main>
    </body>
</html>
